<div class="page page-products" ng-controller="EditPatientCtrl">

  <div class="pageheader">

    <h2>Edit | {{patient.name}}</h2>

    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.patients.list">Manage Patients</a>
        </li>
        <li>
          <a ui-sref="app.products.edit({ id: product.$id })">{{patient.name}}</a>
        </li>
      </ul>

    </div>

  </div>

  <!-- row -->
  <div class="row">


    <div class="col-md-12">

      <!-- tile -->
      <section class="tile tile-simple">


        <!-- tile body -->
        <div class="tile-body" ng-include="'views/pages/patients/_form.html'">





        </div>
        <!-- /tile body -->


      </section>
      <!-- /tile -->

    </div>

  </div>
  <!-- /row -->

</div>


